@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.calibre10 {
    display: block;
    margin-top: 1em
    }
.calibre11 {
    display: block
    }
.calibre12 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre13 {
    font-size: 0.75em
    }
.calibre14 {
    display: table-column-group
    }
.calibre15 {
    display: table-column;
    text-align: left
    }
.calibre16 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre17 {
    display: table-row;
    vertical-align: inherit
    }
.calibre18 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    vertical-align: inherit
    }
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: left;
    text-indent: 0
    }
.calibre2 {
    height: auto;
    width: auto
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre22 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre23 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 0
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
    text-align: center;
    text-indent: 0
    }
.calibre26 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: justify;
    text-indent: 0
    }
.calibre27 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre28 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: justify;
    text-indent: 0
    }
.calibre29 {
    display: block;
    margin-top: 10px
    }
.calibre3 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4em;
    text-align: center;
    text-indent: 0
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: justify;
    text-indent: 1em
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 1em
    }
.calibre32 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre33 {
    font-size: 1em;
    line-height: normal;
    vertical-align: super
    }
.calibre34 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    text-align: justify;
    text-indent: 10px
    }
.calibre35 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 10px
    }
.calibre36 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    text-align: justify;
    text-indent: 0
    }
.calibre37 {
    display: block;
    margin-top: 5px
    }
.calibre38 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8em;
    text-align: center;
    text-indent: 0
    }
.calibre39 {
    font-size: 0.6em;
    line-height: normal;
    vertical-align: super
    }
.calibre4 {
    font-size: 1em
    }
.calibre40 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 0
    }
.calibre41 {
    display: block;
    margin-bottom: 0;
    margin-left: 1em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: -1em
    }
.calibre42 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.calibre5 {
    display: block;
    margin-top: 2em
    }
.calibre6 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 0
    }
.calibre7 {
    font-size: 1.125em
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre9 {
    font-size: 1.25em
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }